<div class="wrapper home">
	<h1>How's the Weather?</h1>
	<form method="post" action="/weather">
		Where are you?:<br>
		<input id="text-input" type ="text" name="post[location]" placeholder="City, State and/or Zip"/>
		<input id="button" type="submit" name="Search" value="Submit"/>
	</form>
</div>